.about{
    padding:70px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    border-top: 4px dashed #AAC7D8;
}
.about .pic{
    max-width: 450px;
    position: relative;
}

.about .pic .circle{
    width: 400px;
}

.about .pic .skill{
    width: 70px;
    height: 70px;
    border-radius: 40px;
}

.about .pic .skill:hover{
    transform: rotate(360deg);
    transition: 1.5s ease;
}

.about .pic .html{
    position: absolute;
    top: 42%;
    left: 42%;
}

.about .pic .css{
    position: absolute;
    top: 16%;
    left: 16%;
}

.about .pic .js{
    position: absolute;
    top: 68%;
    left: 68%;
}

.about .pic .php{
    position: absolute;
    top: 25%;
    left: 62%;
}

.about .pic .sql{
    position: absolute;
    top: 58%;
    left: 21%;
}

.about .pic .bootstrap{
    position: absolute;
    top: 40%;
    left: 12%;
}

.about .pic .tailwind{
    position: absolute;
    top: 45%;
    left: 74%;
}

.about .pic .react{
    position: absolute;
    top: 73%;
    left: 40%;
}

.about .pic .github{
    position: absolute;
    top: 13%;
    left: 44%;
}

.about .information{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #29353C;
    font-family: "Poppins", sans-serif;
}

.about .information button{
    padding: 20px;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.about .information h1{
    font-size: 55px;
    font-weight: 700;
    font-family: "KoHo", sans-serif;
}

.about .information p{
    line-height: 27px;
    font-size: 20px;
}

.information .range{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.information .range div{
    font-size: 18px;
    font-weight: 600;
    font-family: "KoHo", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.information .range div input{
    width: 250px;
}

@media screen and (max-width:992px) {
    .about{
        padding: 15px;
    }
    .about .pic{
        display: none;
    }
    .about .information{
        width: 100%;
        gap: 10px;
    }
    .about .information h1{
        font-size: 27px;
        font-weight: 500;
    }
    .about .information h3{
        font-size: 20px;
        font-weight: 500;
    }
    .about .information p{
        font-size: 16px;
    }
    .about .information .socialMedia{
        font-size: 20px;
    }
}