.educationCourses{
    padding: 70px;
    font-family: "Poppins", sans-serif;
    position: relative;
}

.educationCourses .eduBg{
    width: 150px;
    position: absolute;
    top: 0;
    right: 1%;
}

.educationCourses .eduBg-2{
    width: 150px;
    rotate: 180deg;
    position: absolute;
    bottom: -8%;
    left: 1%;
}

.educationCourses h4{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #0C96E2;
}

.educationCourses h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
    color: #29353C;
}
.educationCourses .container2{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    color: #29353C;
}
.educationCourses .container2 h2{
    font-size: 25px;
    font-weight: 500;
}
.educationCourses .container2 h3{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}
.educationCourses .container2 p{
    font-size: 20px;
}
.educationCourses .container2 .educationSection , .educationCourses .container2 .coursesSection{
    padding-left: 20px;
    border-left: 4px dashed #AAC7D8;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
}

.educationCourses .container2 .card .border , .educationCourses .container2 .card-2 .border{
    width: 20px;
    height: 20px;
    border: 2px dashed #29353C;
    border-radius: 50%;
    position: absolute;
    left: -32px;
    top: 12px;
}

.educationCourses .container2 .card .blueCircle , .educationCourses .container2 .card-2 .blueCircle{
    background-color: #0C96E2;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.educationCourses .container2 .card {
    max-width: 550px;
    height: 150px;
    position: relative;
}

.educationCourses .container2 .card-2{
    max-width: 550px;
    height: 150px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.educationCourses button{
    padding: 10px 15px;
    position: absolute;
    right: 6%;
    box-shadow: 0 0 6px #29353C;
}

.contactMe{
    padding: 0 70px;
    margin: 100px 0 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: "Poppins", sans-serif;
}

.contactMe .tryMe{
    width: 1180px;
    height: 375px;
    border-radius: 36px;
    background-color: #0C96E2;
    rotate: -2deg;
}

.contactMe .tryMe2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 100px 50px;
    width: 1180px;
    height: 375px;
    border-radius: 36px;
    color: #FFFFFF;
    background-color: #583FBC;
    background-image: url("/public/assets/image/Lines.svg");
    background-size: cover;
    position: absolute;
    top: 0;
}

.contactMe .tryMe2 h2{
    font-size: 48px;
    font-weight: 600;
}

.contactMe .tryMe2 p{
    font-size: 20px;
}

.contactMe .tryMe2 p span{
    font-weight: 700;
}

.contactMe .telegram{
    background-color: #0C96E2;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
}

@media screen and (max-width:1250px){
    .contactMe .tryMe {
        display: none;
    }
    .contactMe .tryMe2{
        max-width: 1000px;
        height: max-content;
        min-height: 200px;
    }
}

@media screen and (max-width:992px) {
    .educationCourses{
        padding: 10px;
    }
    .educationCourses .container2 .card{
        padding: 10px;
    }
    .educationCourses h1{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .educationCourses .container2 h2{
        font-size: 18px;
        font-weight: 500;
    }
    .educationCourses .container2 h3{
        font-size: 16px;
        font-weight: 400;
    }
    .educationCourses .container2 p{
        font-size: 16px;
    }
    .educationCourses .container2 .card{
        width: 280px;
        height: max-content;
    }
    .educationCourses .container2 .card-2{
        width: 280px;
        height: max-content;
        padding: 10px;
    }
    .cardInfo{
        width: 100%;
    }
    .contactMe{
        padding: 10px;
        margin: 40px 0;
    }
    .contactMe .tryMe2{
        padding: 15px;
        position: relative;
        height: max-content;
    }
    .contactMe .tryMe2 h2{
        font-size: 22px;
        font-weight: 500;
    }
}