.educationCourses{
    padding: 70px;
    background-image: url("/public/assets/image/back-g.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.educationCourses h1{
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
    color: #29353C;
    font-family: "KoHo", sans-serif;
}
.educationCourses .container2{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    color: #29353C;
    font-family: "Poppins", sans-serif;
}
.educationCourses .container2 h2{
    font-size: 30px;
    font-weight: 600;
}
.educationCourses .container2 h3{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}
.educationCourses .container2 p{
    font-size: 20px;
}
.educationCourses .container2 .educationSection , .educationCourses .container2 .coursesSection{
    padding-left: 20px;
    border-left: 4px dashed #AAC7D8;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
}


.educationCourses .container2 .card {
    max-width: 500px;
}

.educationCourses .container2 .card-2{
    max-width: 680px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contactMe{
    padding: 0 70px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: "Poppins", sans-serif;
}

.contactMe .tryMe{
    width: 1000px;
    height: 300px;
    border-radius: 36px;
    background-color: #AAC7D8;
    rotate: 3deg;
}

.contactMe .tryMe2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 100px 50px;
    width: 1000px;
    height: 300px;
    border-radius: 36px;
    color: #FFFFFF;
    background-color: #3d474e;
    background-image: url("/public/assets/image/Lines.svg");
    background-size: cover;
    position: absolute;
    top: 0;
}

.contactMe .tryMe2 h2{
    font-size: 36px;
    font-weight: 600;
}

.contactMe .tryMe2 p{
    font-weight: 500;
}

.contactMe .telegram{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    font-weight: 600;
}



@media screen and (max-width:992px) {
    .educationCourses{
        padding: 10px;
    }
    .educationCourses .container2 .card{
        padding: 10px;
    }
    .educationCourses h1{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .educationCourses .container2 h2{
        font-size: 18px;
        font-weight: 500;
    }
    .educationCourses .container2 h3{
        font-size: 16px;
        font-weight: 400;
    }
    .educationCourses .container2 p{
        font-size: 16px;
    }
    .educationCourses .container2 .card{
        width: 280px;
    }
    .educationCourses .container2 .card-2{
        width: 280px;
        padding: 10px;
    }
    .cardInfo{
        width: 100%;
    }
    .contactMe{
        padding: 10px;
    }
    .contactMe .tryMe {
        display: none;
    }
    .contactMe .tryMe2{
        padding: 15px;
        position: relative;
        height: max-content;
    }
    .contactMe .tryMe2 h2{
        font-size: 22px;
        font-weight: 500;
    }
}