.copyRight{
    padding: 15px 70px;
    color: #29353C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    box-shadow: 1px 1px 8px #AAC7D8;
    font-family: "Poppins", sans-serif;
}

.copyRight p{
    font-size: 18px;
    font-weight: 500;
}

.copyRight .devBy , .copyRight .followMe{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.copyRight img{
    width: 100px;
    height: 50px;
    border-radius: 8px;
}

.copyRight .socialMedia{
    font-size: 28px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.copyRight .socialMedia a{
    padding: 2px;
    width: 40px;
    height: 40px;
}

.copyRight .socialMedia a:hover{
    font-size: 40px;
}

.copyRight h4{
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width:992px){
    .copyRight{
        padding: 15px;
        flex-direction: column;
    }
}